.profile-pick{
    
    object-fit: contain !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    display: inline-block !important;
    margin-right: 10px !important;
}

.doca-form-control{
    width: 400px !important;
}

.doca-form__field {
    display: inline-block;
    margin-right: 10px;
  }

.big-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sortDown{
    margin-right: 10px;
}

#button{
    margin-right: 10px;
    margin-left: 10px;
}

